html{
    background: royalblue;
    /* background: red; */
}
h1{
    color: red;
    /* color: white; */
    font-size: 4em;
    font-style: oblique;
}
p{
    color: black;
    font-size: 3em;
    font-style: italic;
}